---
export interface Props {
  datos: { nombre: string; porcentaje: number };
  color: string;
  alto?: number;
  resaltado?: boolean;
  info?: string;
}

const { datos, color, alto, resaltado, info } = Astro.props;
---

<div class=`${resaltado ? ' resaltado': ''}`>
  <div class="contenedorColombina">
    <p class="nombre">{datos.nombre}</p>
    <div class="elementoGrafica">
      <span
        class="colombina"
        style={`width:${datos.porcentaje}%;background-color:${color};height:${alto ? alto : 10}px`}
        ><span class="porcentaje">{datos.porcentaje}%</span></span
      >
    </div>
  </div>

  {info && <span class="info">{info}</span>}
</div>

<style lang="scss">
  .resaltado {
    background-color: #ff934f26;
  }
  .contenedorColombina {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0.2em;
  }

  .colombina {
    position: relative;
    height: 10px;
    background-color: rgb(68, 68, 26);
    display: block;
    margin: 5px 4px 3px 0;
  }

  .porcentaje {
    position: absolute;
    font-size: 0.8em;
    left: calc(100% + 8px);
    bottom: -8px;
  }

  .nombre {
    margin: 0;
    flex-basis: 200px;
  }

  .elementoGrafica {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis: 100%;
    margin-left: 0.3em;
  }

  .resaltado {
    font-size: 1.1em;
    .nombre {
      font-weight: 700;
    }
  }

  .info {
    font-weight: 400;
    font-size: 0.85em;
    flex: 1;
  }

  .muestraColor {
    height: 3px;
    width: 3px;
    display: block;
  }

  #unoODos {
    background-color: black;
  }

  #tresOMas {
    background-color: pink;
  }
</style>
