---
import { rutaBase, rutas } from '@/utilidades/constantes';
export interface Props {
  // Número del proyecto
  numeroProyecto: number;
}

const { numeroProyecto } = Astro.props;

const urlAnterior = numeroProyecto > 1 ? `${rutaBase}${rutas[numeroProyecto - 2]}` : rutaBase;
const urlSiguiente = numeroProyecto < rutas.length ? `${rutaBase}${rutas[numeroProyecto]}` : rutaBase;
const iconoAnterior = urlAnterior === rutaBase ? '← inicio' : '←';
const iconoSiguiente = urlSiguiente === rutaBase ? 'inicio →' : '→';
---

<div class="navegacion">
  <a class="botonNavegar" href=`${urlAnterior}`>{iconoAnterior}</a>
  <a class="botonNavegar" href=`${urlSiguiente}`>{iconoSiguiente}</a>
</div>

<style lang="scss">
  .botonNavegar {
    text-decoration: none;
  }
</style>
