---
export interface Props {
  // Número del proyecto
  numeroProyecto: number;
}

const { numeroProyecto } = Astro.props;
const base = import.meta.env.BASE_URL;
const rutas = ['proyecto1', 'proyecto2', 'proyecto3', 'proyecto4'];

const urlAnterior = numeroProyecto > 1 ? `${base}${rutas[numeroProyecto - 2]}` : base;
const urlSiguiente = numeroProyecto < rutas.length ? `${base}${rutas[numeroProyecto]}` : base;
const iconoAnterior = urlAnterior === base ? '← inicio' : '←';
const iconoSiguiente = urlSiguiente === base ? 'inicio →' : '→';
---

<div class="navegacion">
  <a class="botonNavegar" href=`${urlAnterior}`>{iconoAnterior}</a>
  <a class="botonNavegar" href=`${urlSiguiente}`>{iconoSiguiente}</a>
</div>

<style lang="scss">
  .botonNavegar {
    text-decoration: none;
  }
</style>
