---
export interface Props {
  felices: number;
  tristes: number;
  rutaSvgFeliz: string;
  rutaSvgTriste: string;
  descripcion: string;
}

const { felices, tristes, rutaSvgFeliz, rutaSvgTriste, descripcion } = Astro.props;
---

<div
  class="contenedorPersonas"
  data-felices={felices}
  data-tristes={tristes}
  data-rutafeliz={rutaSvgFeliz}
  data-rutatriste={rutaSvgTriste}
  data-descripcion={descripcion}
>
</div>

<script>
  const contenedorPersonas = document.querySelectorAll<HTMLElement>('.contenedorPersonas');

  for (let contenedor of contenedorPersonas) {
    dibujarPersonas(contenedor);
  }

  function dibujarPersonas(contenedor: HTMLElement) {
    const descripcion = document.createElement('p');
    const personas = document.createElement('div');
    descripcion.innerText = contenedor.dataset.descripcion;
    contenedor.appendChild(descripcion);

    // Agregar personas felices
    for (let i = 0; i < +contenedor.dataset.felices; i++) {
      const personita = document.createElement('span');
      personita.classList.add('personita');
      personita.style.backgroundImage = `url('${contenedor.dataset.rutafeliz}')`;
      personas.appendChild(personita);
    }

    // Agregar personas tristes
    for (let i = 0; i < +contenedor.dataset.tristes; i++) {
      const personita = document.createElement('span');
      personita.classList.add('personita');
      personita.style.backgroundImage = `url('${contenedor.dataset.rutatriste}')`;
      personas.appendChild(personita);
    }
    personas.classList.add('personas');
    contenedor.appendChild(personas);
  }
</script>

<style lang="scss" is:global>
  .contenedorPersonas {
    .personas {
      display: flex;
    }

    .personita {
      display: block;
      border-radius: 50%;
      height: 2em;
      width: 2em;
      margin: 0.2em;
    }
  }
</style>
