---
export interface Props {
  datos: {
    nombre: string;
    unoODosAces: { puntosPorcentuales: Number; significativo: Boolean };
    tresOMasAces: { puntosPorcentuales: Number; significativo: Boolean };
  };
  color: string;
  alto?: number;
  info?: string;
}

const { datos, color, alto, info } = Astro.props;
---

<div class="contenedorPuntos">
  <p class="nombre">{datos.nombre}</p>
  <div class="elementoGrafica">
    <span
      class="punto unoODos"
      style={`width:${datos.unoODosAces.puntosPorcentuales}%;background-color:${color};height:${alto ? alto : 3}px`}
    ></span>
  </div>
  <div>
    <span
      class="punto TresOMas"
      style={`width:${datos.tresOMasAces.puntosPorcentuales}%;background-color:pink;height:${alto ? alto : 3}px`}
    ></span>
  </div>

  {info && <span class="info">{info}</span>}
</div>

<style lang="scss">
  .nombre {
    margin: 0;
    flex-basis: 200px;
  }

  .punto {
    width: 3px;
    background-color: rgb(68, 68, 26);
    display: block;
    margin-right: 5px;
  }
</style>
