---
export interface Props {
  cantidad: number;
  fechaInicio: string;
  fechaFin: string;
  texto: string;
}

const { cantidad, fechaInicio, fechaFin, texto } = Astro.props;
---

<enflujo-lienzo data-texto={texto} data-fechainicio={fechaInicio} data-fechafin={fechaFin} data-cantidad={cantidad}>
  <div class="contenedor">
    <canvas class="lienzo"></canvas>
  </div>
</enflujo-lienzo>

<script>
  import { duranteInterseccion } from '@/utilidades/observador';

  class Lienzo extends HTMLElement {
    constructor() {
      super();
      const contenedor = this.querySelector('.contenedor') as HTMLDivElement;
      const lienzo = this.querySelector('canvas');
      const ctx = lienzo.getContext('2d');
      const dims: { y: number; alto: number } = { y: 0, alto: 0 };
      const { cantidad, texto, fechainicio, fechafin } = this.dataset;
      const textoFechas = `Desde ${fechainicio} a ${fechafin}`;
      let relojLienzo = 0;
      let opacidad = 0;
      let conteo = 0;
      const formatoNumero = new Intl.NumberFormat('es-CO');
      const totalVictimas = +cantidad;
      const pasoConteo = (totalVictimas / 100) | 0;
      // let reloj: NodeJS.Timer;
      escalar();
      window.onresize = escalar;

      duranteInterseccion(contenedor, enVista, false, { threshold: 0 }, fueraDeVista);

      function enVista() {
        ctx.fillStyle = '#531cb3';
        relojLienzo = requestAnimationFrame(pintar);
        // const { y, height } = entrada.boundingClientRect;
        // reloj = setInterval(() => {
        //   console.log('activo', window.scrollY > y && window.scrollY + lienzo.height < y);
        //   if (window.scrollY > y && window.scrollY + lienzo.height < height + y) {
        //     lienzo.style.top = `${window.scrollY - y}px`;
        //   }
        // }, 10);
      }

      function fueraDeVista() {
        cancelAnimationFrame(relojLienzo);
        ctx.fillStyle = 'black';
        ctx.fillRect(0, 0, lienzo.width, lienzo.height);
        opacidad = 0;
        conteo = 0;
      }

      function escalar() {
        const menu = document.getElementById('menu');
        const altoMenu = menu.clientHeight;
        const { top, width } = contenedor.getBoundingClientRect();
        dims.y = top + altoMenu;
        lienzo.style.top = `${altoMenu}px`;

        dims.alto = window.innerHeight - altoMenu;
        lienzo.width = width; // Ancho pantalla sin contar barra "scroll"
        lienzo.height = dims.alto;
      }

      function pintar() {
        // if (opacidad < 1) {
        //   opacidad += 0.01;
        //   ctx.globalAlpha = opacidad;
        // }

        if (conteo < totalVictimas) {
          conteo += pasoConteo;
        } else {
          conteo = totalVictimas;
        }

        ctx.fillRect(0, 0, lienzo.width, lienzo.height);
        ctx.save();
        ctx.fontKerning = 'none';
        ctx.font = '600 2em Nohemi';
        ctx.fillStyle = '#FFFFFF';
        ctx.line;
        ctx.fillText(textoFechas, 90, 200);
        ctx.font = '900 10em Nohemi';
        ctx.fillText(formatoNumero.format(conteo), 100, 400);
        ctx.font = '500 1.6em Nohemi';
        ctx.fillText(texto, 200, 450);
        ctx.restore();
        relojLienzo = requestAnimationFrame(pintar);
      }
    }
  }

  customElements.define('enflujo-lienzo', Lienzo);
</script>

<style lang="scss">
  .contenedor {
    height: 120vh;
    background-color: #531cb3;
  }

  .lienzo {
    position: sticky;
    top: 0;
    // left: 0;
  }

  .puntos {
    margin-bottom: 3em;
    background-image: radial-gradient(#474bff 2px, transparent 2px);
    background-size: 5px 5px;
    background-color: #ffffff;
  }
</style>
